/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Sofia+Sans+Semi+Condensed:ital,wght@0,700;0,800;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Share+Tech+Mono&family=Sofia+Sans+Semi+Condensed:ital,wght@0,700;0,800;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#load {
    list-style: none;
  }
  #load::before{
    position: absolute;
    content: "•";
    color: red;
   display: inline-block;
    width: 1.1rem;
    margin-left: -1em;
  }
  #done {
    list-style: none;
  }
  #done::before{
    position: absolute;
    content: "•";
    color: rgb(32, 177, 32);
   display: inline-block;
    width: 1.1rem;
    margin-left: -1em;
  }

